<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- Google font Rubik 400, 700, 900 --}}
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600&display=swap" rel="stylesheet">
    {{!-- Hoja de estilos personalizada  --}}
    <link rel="stylesheet" href="/css/app.css">
    <title>{{nombrePagina}}</title>
    {{!-- Hoja de estilos para trix (WYSIWYG) --}}
    <link rel="stylesheet" href="/css/trix.css">
</head>

<body>
   <div id="header-wrapper">
       <section id="hero" class="container">
        <h1><a href="/">MANEJO DE PRESUPUESTO</a></h1>
        <header class="header.major contenedor separador">
        <h2>{{nombrePagina}}</h2>

        {{#if tagline}}
        <p class="tagline">{{tagline}}</p>
        {{/if}}

         {{#if barra}}
        <div class="buscador">
            <form action="#">
                <a class= "button" type="submit" href="/ingreso/nuevoIngreso" >Ingresos</a>
                <a class= "button" type="submit" href="/gasto/nuevoGasto" >Gastos</a>
                <a class= "button" type="submit" href="/ahorro/nuevoAhorro" >Ahorros</a>
                <a class= "button" type="submit" href="/prestamo/nuevoPrestamo" >Préstamos</a>
                <a class= "button" type="submit" href="/tarjeta/nuevaTarjeta" >Tarjetas crédito</a>
            </form>
        </div>
        {{/if}}

        {{#if boton}}
        <a href="/" class="btn btn-azul">Ir al dashboard</a>
        {{/if}}
    </header>
       </section>
    </div>

    <div class="wrapper">
        {{{body}}}
    </div>

<!-- Footer -->
	<div id="footer-wrapper">
		<div id="footer" class="container">
			<header class="major">
				<h2>La educación es todo.</h2>
					<p>“Uno puede prepararse mejor para afrontar su futuro económico invirtiendo en su propia educación. 
                        Si estudias duro y aprendes de joven, estarás en las mejores condiciones para asegurar tu futuro”</p>
			</header>

            <div id="copyright" class="container">
                <ul class="menu">
                    <li>&copy; Todos derechos reservados </li><li>Diseño: <a href="https://www.facebook.com/yosseny.gimena">Gimena Sánchez</a></li>
                </ul>
            </div>
	    </div> 
	</div> 
    {{!-- Script para trix (WYSIWGY) --}}
    <script src="/js/trix.js"></script>  
</body>

</html>