<!-- CONTENIDO PRINCIPAL DEL NUEVO USUARIO -->
	<div class="container" id="main">
		<!-- CONTENIDO -->
			<article id="content">
				<header>
                        <div class="row">
								<form method="post" action="#">
									<div class="row gtr-50">
										<div class="col-7">
											<input name="usuario" placeholder="Usuario" type="text" />
										</div>
										<div class="col-7">
											<input name="contraseña" placeholder="Contraseña" type="text"></input>
										</div>
										<div class="col-7">
    										<h1><a href="/">REGISTRARSE</a></h1>
										</div>
										
										<div class="col-12">
											<ul class="actions">
												<li><input type="submit" value="Guardar" /></li>
												<li><input type="reset" value="Cancelar" /></li>
											</ul>
										</div>
									</div>
								</form>
							</section>   
                        </div>
				</header>
			</article>
	</div>
       
									
