<!-- CONTENIDO PRINCIPAL DEL NUEVO PRESTAMO -->
	<div class="container" id="main">
		<!-- CONTENIDO -->
			<article id="content">
				<header>
					<h2>NUEVO REGISTRO</h2>
                        <div class="row">
							<section class="col-6 col-6-narrower">
								<form method="post" action="#">
									<div class="row gtr-50">
										<div class="col-12">
											<input name="descripcion" placeholder="Descripción del préstamo" type="text" />
										</div>
										<div class="col-12">
											<input name="mreal" placeholder="Monto Real" type="text"></input>
										</div>
										<div class="col-12">
											<ul class="actions">
												<li><input type="submit" value="Guardar préstamo" /></li>
												<li><input type="reset" value="Cancelar" /></li>
											</ul>
										</div>
									</div>
								</form>
							</section> 
                            <section class="col-6 col-12-narrower feature">
                                <div class="image-wrapper">
                                	<a href="#" class="image featured">
                                        <img src="../public/css/images/ingresos.png" alt="ingresos.png">
                                    </a>
                                </div>
                            
                            </section>  
                        </div>
				</header>
			</article>
	</div>
       
									
