<main class="contenedor">
    <form action="/ingreso/nuevoIngreso" method="post" class="default-form">
        <h3>Ingreso de datos</h3>

        <div class="campo">
            <label for="descripcion">Descripción</label>
            <input type="text" name="descripcion" placeholder="Trabajo, Alquiler, Ventas...">
        </div>

        <div class="campo">
            <label for="montoPresupuestado">Monto Presupuestado</label>
            <input type="text" name="montoPresupuestado" placeholder="L. 1200">
        </div>

        <div class="campo">
            <label for="montoReal">Monto Real</label>
            <input type="text" name="montoReal" placeholder="L. 1200">
        </div>

        <h3>Descripción del puesto</h3>
        <div class="campo descripcion">
            {{!-- Implementar un WYSIWYG --}}
            <label>Descripción</label>
            <input type="hidden" name="descripcion" id="x">
            <trix-editor input="x"></trix-editor>
        </div>

    </form>
</main>